
.project-section {
  position: relative !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}
.project-sectionA {
  
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}
.purple {
  color: var(#b823a4) !important;
}
.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(81, 82, 85, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}
.project-card-view .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(37, 36, 94, 0.561) !important;
}
.project-description {
  min-height: 100px;
  text-align: left;
   hyphens: none;
}
.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
  text-align: center;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #e6dfff;
  margin-bottom: 10px;
  text-align: center;
}

.project-image-wrapper {
 
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.card-body .btn {
  align-self: center;
  margin-top: auto;
}
.project-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.project-button {
  background-color: #303064;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(108, 99, 255, 0.3);
}

.project-button:hover {
  background-color: #4e47d0;
  transform: scale(1.08);
  color: #fff;
  box-shadow: 0 6px 14px rgba(78, 71, 208, 0.45);
}
